{%extends "base.html"%}
{%block content%}
<header id="page-header">
    <div class="container my-3 bg-light">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>会社情報</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, animi.</p>
            </div>
        </div>
    </div>
</header>

<section id="about">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6">
                <h2>提供サービス</h2>
                <h3 class="fst-italic">サービス１</h3>
                <p>サービス内容の説明</p>
                <br>
                <h3 class="fst-italic">サービス２</h3>
                <p>サービス内容の説明</p>
                <br>
                <h3 class="fst-italic">サービス３</h3>
                <p>サービス内容の説明</p>
            </div>
            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1577415124269-fc1140a69e91?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=700&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4MTQ0MDIwNg&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=700"
                    alt="" class="rounded-circle img-fluid d-none d-md-block">
            </div>
        </div>
    </div>
</section>

<section id="company_info">
    <div class="container py-3 bg-dark text-light">
        <h2>会社概要</h2>
        <p>社名：社名xxxxxx</p>
        <p>設立：９９９９年１２月３１日</p>
    </div>
</section>
{%endblock%}